@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

.heading {
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 300;
    text-transform: uppercase;
}

body {
    background-color: rgb(228, 228, 228);
}

.container {
    width:600px;
    background-color:rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-left:auto;
    margin-right: auto;
    margin-top:100px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:50px;

}

form {
    margin-top:60px;
    border-top:1px solid rgba(0, 0, 0, 0.205);
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
}

.input-box {
    padding:10px;
}

.form-label {
    margin-right:10px;
}

.form-input {
    width:40px;
    height:20px;
    text-align: center;
    border:1px solid rgba(0, 0, 0, 0.226);

}

.btn-generate {
    display:block;
    color:black;
    width:100%;
    padding:15px;
    background-color:greenyellow;
    border:none;
    border-radius:5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top:20px;
    margin-bottom: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.btn-generate:hover {
    transform:scale(1.02);
}

.btn-generate:active {
    transform:scale(0.95)
}

.error {
    font-size:12px;
    margin-bottom: 10px;;
    color:red;
}

.text-muted {
    font-size:14px;
    color:rgba(0, 0, 0, 0.568);
    letter-spacing: .5px;
    margin-top:20px;
}

.text-copied {
    color:green;
    font-size:18px;
    letter-spacing: 2px;
    margin-top:20px;
}

.generated-password {
    font-size:20px;
    letter-spacing: 1px;
    margin-top:20px;
    margin-bottom: 20px;
}

.btn-copy {
    padding-right:20px;
    padding-left:20px;
    padding-top:10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border:none;
    border-radius:5px;
    background-color: rgb(0, 139, 12);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color:white;
    font-size:12px;
    transition: all 0.2s;
}

.btn-copy:hover {
    transform: scale(1.02);
}

.btn-copy:active {
    transform: scale(0.98)
}

.hidden {
    display: none;
}

@media screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {
    .container {
        width:500px;
    }
}

@media screen and (max-width: 576px) and (-webkit-min-device-pixel-ratio: 1) {
    .container {
        width:350px;
        padding:30px;
    }

    .heading {
        font-size:20px;
    }

    .generated-password {
        font-size:15px;
        letter-spacing: .5px;
    }
}